[color]
    ui = auto
[user]
	name = Pierre-Antoine LaFayette
	email = pierre.lafayette@gmail.com
[alias]
    ca = commit -a
    ci = commit
    co = checkout
    st = status
    br = branch
    ap = apply
[core]
    excludesfile = /home/plafayet/.gitignore
[merge]
    tool = vimdiff
